*{
    margin: 0;
}
body{
    background-color: rgba(218, 181, 218, 0.453);
}
.main-header{
    position: fixed;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: white;
    
}
.main-header img{
    width: 40px;
}
/*Navigation bar*/
.main-header .nav-bar{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-header .nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 1000;
}
.main-header .nav-bar a:hover{
   color: #7f007f79;
}
/*Social Media Links*/
.social-links{
    padding-right: 10px;
    display: flex;
    gap: 20px;
}
.social-links img{
    cursor: pointer;
}
.social-links a img:hover{
    opacity:0.3;
}

/*Hero Section*/
.main-content{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 88px;
    padding-left: 64px;
    padding-bottom: 64px;
}
#par-1{
    text-align: center;
    font-family: Cambria;
}
.main-content p{
    font-family: Cambria;
    font-size: 25px;
}
.main-content h1{
    font-family: Impact;
    font-size: 50px;
}
.main-content img{
    border-radius: 300px;
    max-height: 300px;
}
#hire-me{
    padding-left: 248px;
    padding-top: 16px;
}
button{
    border: none;
    display: inline-block;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background-color: #7f007f79;
    font-family: Cambria;
    font-weight: bolder;
    color: white;
}
a button:hover{
    background-color: #7f007fb9;
    cursor: pointer;
}
.video{
    width: 50%;
    margin: auto;
    padding-top: 32px;
}

/*Footer*/
.footer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 180px;
    background-color: #7f007f43;
}
.footer img{
    width: 40px;
}
/*About Me Page*/
.about-me-content{
    padding: 80px 20px 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me-content img{
    height: fit-content;
    width: auto;
}
.about-me-p{
    padding-top: 72px;
    text-align: left;
    font-size: 25px;
    width: 100%;
    padding-bottom: 72px;
}
h2{
    text-align: center;
    font-family: Cambria, Cochin;
}
.about-me-skills{
    font-family: cambria;
}
.about-me-skills ul{
    padding-top: 32px;
    display: flex;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
}
/*contact-button*/
.contact-button{
    padding-top: 32px;
    text-align: center;
}
.contact-button a button{
    border: none;
    display: inline-block;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background-color: #7f007f79;
    font-family: Cambria;
    font-weight: bolder;
    color: white;
}
.contact-button a button:hover{
    background-color: #7f007fb9;
    cursor: pointer;
}
/*Contact Me*/
h1{
    font-family: Cambria;
    padding: 32px 0 32px 40px;
    text-align: center;
}
.contact-me{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.contact-me .my-contacts img{
    width: 30px;
}
.contact-me .my-contacts p{
    font-family: Cambria;
    font-weight: bolder;
}
.contact-me .my-contacts .my-contacts1{
    display: flex;
    gap: 15px;
}
.contact-me .my-contacts .my-contacts2{
    display: flex;
    gap: 15px;
    padding-top: 32px;
    padding-bottom: 32px;

}
.contact-me .my-contacts .my-contacts3{
    display: flex;
    gap: 15px;
}
/*Form*/
form input[type=text],input[type=email], textarea{
    background-color:#fecbfeb1;
    width: 100%;
    border-radius: 10px;
}
form input[type=button]{
    border: none;
    display: inline-block;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background-color: #7f007f79;
    font-family: Cambria;
    font-weight: bolder;
    color: white;
}
form input[type=button]:hover{
    background-color: #7f007fb9;
    cursor: pointer;
}
.burger-menu, .burger-menu-btn{
    display: none;
}
/*media query*/
@media only screen and ( max-width: 600px ) {
    .burger-menu-btn{
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(/images/icons8-menu-30.png),url(/images/close-icon.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
    }
    .burger-menu{
        display: none;
        position: fixed;
        width: 70%;
        height: 50vh;
        z-index: 900;
        background-color: #7f007fd7;
    }
    .burger-menu a{
        flex-basis: 100%;
        border-top: 2px solid #111;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 40px;
        color: white;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
    }
    .main-header .nav-bar{
        display: none;
    }
    .about-me-content{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 32px 0px 32px;
    }
    .about-me-skills{
        padding-top: 0px;
    }
    .about-me-p{
        font-size: 20px;
        padding-top: 32px;
    }
    .about-me-content img{
        padding: 32px 0px 0px 0px;
    }
    /*Contact me Form*/
    .contact-me{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-me .my-contacts{
        padding-left: 20px;
        order: 1;
        align-items: center;
    }
    /*Form*/
    form input[type=text],input[type=email], textarea{
        width: 80%;
        margin-left: 32px;
    }
    form input[type=button]{
        margin-left: 32px;
    }
    #hire-me{
        padding-left: 172px;
        padding-top: 24px;
    }
    /*footer*/
    .footer{
        margin-top: 20px;
        display: flex;
        gap: 64px;
        padding-left: 64px;
        background-color: #7f007f43;
    }
    .footer img{
        width: 20px;
        
    }

    
}
